
body {
background: url('assets/img/fond.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
font-family:"font-awesome";

}
	  
	  
	  
nav a {
	  
margin-left:50px;
	  
}
	  


/* Images */
img {
	
width: 100%;

}
	  
	  
.jumbotron {
	  
background: rgb(255, 255, 255); /* This is for ie8 and below */
background: rgba(255, 255, 255, 0.5); 
	  
	  
	  
}

