
body {

	font-family: 'Open Sans', sans-serif;
	overflow : hidden;
}
	  
	  
#carousel {
	
	margin-top:30px;
	
	
}	  
	  
	  
nav a {
	  
	margin-left:50px;
	  
}
	  



img {
	
	width: 100%;

}

header {
	
	
	
	
}
	  
	  
.jumbotron {
	  
	background: rgb(255, 255, 255); /* This is for ie8 and below */
	background: rgba(255, 255, 255, 0); 
	text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);

		  
	  
}

.jumbotron h1 {
	
	font-size:2em;
	margin-bottom:50px;
	
	
}

.jumbotron p {
	
	
	font-size:1.2em;
	
}

#jumb1 {
	
	background-color:#4f4f4f;
	color:white;
	-webkit-box-shadow: 0px -4px 5px 0px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px -4px 5px 0px rgba(50, 50, 50, 0.9);
	box-shadow:         0px -4px 5px 0px rgba(50, 50, 50, 0.9);

	
	
}

#jumb2 {
	
	
	background-color:#D44700;
	color:white;
	-webkit-box-shadow: 0px -4px 5px 0px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px -4px 5px 0px rgba(50, 50, 50, 0.9);
	box-shadow:         0px -4px 5px 0px rgba(50, 50, 50, 0.9);
		
	}
 
#jumb3 {
	
	background-color:#046380;
	color:white;
	-webkit-box-shadow: 0px -4px 5px 0px rgba(50, 50, 50, 0.9);
	-moz-box-shadow:    0px -4px 5px 0px rgba(50, 50, 50, 0.9);
	box-shadow:         0px -4px 5px 0px rgba(50, 50, 50, 0.9);

	
} 

footer {
	
	margin-top:25px;
	margin-bottom:25px;
	
	
}

